# Copy this config.yml.example to config.yml 
# and edit the following details
#
# Donot remove or add fields as the configuration is checked strictly
# Doing so will fail the app to start

# Url of rocket chat server
URL: https://rocket.chat:5000

# bot username
USERNAME: bot

# bot password
PASSWORD: bot

# Use ssl(https)?
USE_SSL: TRUE

# channel/room (Currently supports one)
# Make sure the bot has already been added to the channel
ROOM: general

# meeting calendar read-only link (calendar-code)
MEETINGS_TEAMUP: someCodeXYZ123jnjn

# teamup token required for api calls
TOKEN_TEAMUP: jnfjnf993knjnjfnejkfnejnf

# run the bot in every X interval (mins)
# Keep it between 5 to 10
# default is 5
REPEAT_IN: 5


# path to keep logfile
# default LOG_PATH is /tmp folder
# It will be overriden if logpath flag is provided to bot while running the bot
LOG_PATH: /tmp

# name for the log file
# default log file name is teamup-rocket-chat.log
LOG_FILE_NAME: teamup-rocket-chat.log
